<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
<title>ParkSmart</title>
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<script src='https://api.tiles.mapbox.com/mapbox.js/v2.0.1/mapbox.js'></script>
<script src="{{ url_for('static', filename='jquery-2.1.1.min.js') }}"></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/v2.0.1/mapbox.css' rel='stylesheet' />
<style>
  body { margin:0; padding:0; }
  #map { position:absolute; top:0; bottom:0; width:100%; }
</style>
</head>
<body>
<style>
.legend label,
.legend span {
  display:block;
  float:left;
  height:15px;
  width:20%;
  text-align:center;
  font-size:9px;
  color:#808080;
  }
 .ui-control {
    background:#fff;
    position:absolute;
    top:10px;
    right:10px;
    padding:10px;
    z-index:100;
    border-radius:3px;
  }
</style>

<div id='map'></div>

<script>
L.mapbox.accessToken = 'pk.eyJ1IjoiYmVuZXZlcnNvbiIsImEiOiI5NEZyMkxBIn0.keW7x9ghnVE_rOhxA4dYKw';

var geojson;
var map;
$.ajax({
    url: '/parksmart/api/getviolations/?lat=40.72715&lon=-73.99933&radius=0.1',
    type: 'GET',
    success: function(results) {
		// 'results' holds the geojson object
		//console.log(results.data);
		geojson = results.data;
		map = L.mapbox.map('map', 'beneverson.ja06dcjc').setView([40.72715, -73.99933], 17	).featureLayer.setGeoJSON(geojson);
    }
});
 
</script>
</body>
</html>